{{#layout}}

<div class='hero'>
  <div class='container'>
    <h2 class='tagline'>{{page.tagline}}</h2>
    <p class='text-big'>An overview of files and folders.</p>
  </div>
</div>

  <div class='container page-content'>
    <div class='row'>


      <div class='col-lg-2 nav-sidebar'>
        <ul class='list-group nav content-nav hidden-md hidden-sm hidden-xs'>
        {{#each page.sections}}
        <li class='list-group-item'>
          <a href='#{{id}}'>
            {{title}}
          </a>
        </li>
        {{/each}}
        </ul>
      </div>

      <div class='col-lg-8'>
        {{#each page.sections}}
          <section class='section-documentation section-{{id}}'>
            <h3 id='{{id}}'>{{title}}</h3>
            {{#markdown}}{{{body}}}{{/markdown}}
          </section>
          <hr />
        {{/each}}
      </div>

    </div>
  </div>

{{/layout}}
