{{#layout}}

<div class='hero'>
  <div class='container'>
    <h2 class='tagline'>{{page.tagline}}</h2>
    <p class='text-big'>{{page.subTagline}}</p>
    {{>made-with}}
  </div>
</div>

  <div class='container page-content'>
    <div class='row'>


      <div class='col-lg-2 nav-sidebar'>
        <ul class='content-nav nav hidden-md hidden-sm hidden-xs'>
        {{#each page.sections}}
          <li class=''>
            <a href='#{{id}}'>
              {{title}}
            </a>
            <div class='nav-sidebar'>
            <ul class='nav'>
              {{#each subSections}}
                <li class=''>
                  <a href='#{{id}}'>{{title}}</a>
                </li>
              {{/each}}
            </ul>
            </div>
          </li>
        {{/each}}
        </ul>
      </div>

      <div class='col-lg-8'>
        {{#each page.sections}}
          <section class='section-documentation section-{{id}}'>
            <h3 id='{{id}}'>{{title}}</h3>
            {{#each subSections}}
              <section class='sub-section-documentation sub-section-{{id}}'>
              <h4 id='{{id}}'>{{title}}</h4>
              {{#markdown}}{{{body}}}{{/markdown}}
              </section>
            {{/each}}
          </section>
          <hr />
        {{/each}}

        {{>made-with}}
      </div>

    </div>
  </div>

{{/layout}}
