{{#layout}}

<div class='hero'>
  <div class='container'>
    <h2 class='tagline'>{{page.tagline}}</h2>
    <p class='text-big'>An overview of files and folders.</p>
  </div>
</div>

  <div class='container page-content'>
    <div class='row'>

      <div class='col-sm-2 hidden-xs'>
        <nav class='content-nav'>
        <ul class='nav'>
        {{#each page.sections}}
          <li>
            {{#link-to 'documentation' anchor=id}}
              {{title}}
            {{/link-to}}
          </li>
        {{/each}}
        </ul>
        </nav>
      </div>

      <div class='col-sm-9'>
        {{#each page.sections}}
          <section class='section-documentation section-{{id}}'>
            <h3 id='{{id}}'>{{title}}</h3>
            {{#markdown}}{{{body}}}{{/markdown}}
          </section>
          <hr />
        {{/each}}
      </div>

    </div>
  </div>

{{/layout}}
